In [120]:
import pandas as pd # charge pandas
import numpy as np # charge nunpy
from time import sleep # charge sleep attribute for sleep page

In [121]:
from selenium import webdriver # charge webdriver attribute
from selenium.webdriver.common.by import By # charge by attribute
from selenium.webdriver.common.keys import Keys # charge keys attribute

In [122]:
# search=driver.find_element(By.ID,"q") # find search bar
# search.send_keys('appartement') # put a key want to search on the page
# box=driver.find_element(By.CLASS_NAME,"i.i-magnify.global-search__button__icon").click() # find and click to search

In [139]:
# ---- extraction of data----
driver = webdriver.Chrome()
# create the lists for collecte data
name=[]
chambre=[]
prix=[]
date_time=[]
local=[]
# make a boucle for to scroll all pages
for i in range(1,101):
    driver.get(f'https://www.expat-dakar.com/annonces?q=appartement&page={i}') # get the page i
    descrip = driver.find_elements(By.CLASS_NAME,'listing-card__header__title') # get the name of the article
    nchanbre = driver.find_elements(By.CLASS_NAME,'listing-card__header__tags') 
    prc = driver.find_elements(By.CLASS_NAME,'listing-card__price') # get the price of the article
    date = driver.find_elements(By.CLASS_NAME,'listing-card__header__date') # get the plub date
    lieu = driver.find_elements(By.CLASS_NAME,'listing-card__header__location') # get his position
    # make a boucle for to put data in the lists
    for i in range(len(prc)):
        name.append(descrip[i].text)
        chambre.append(nchanbre[i].text)
        prix.append(prc[i].text)
        date_time.append(date[i].text)
        local.append(lieu[i].text)

In [134]:
# make a dictionnaire for arange the data
data={'date':date_time, 'description':name, 'nombre_chambre':chambre, 'localisation': local, 'prix':prix}

In [135]:
# create a dataframe from the dictionnaire
dt=pd.DataFrame(data)

In [136]:
# output the firsts line
dt.head()

,date,description,nombre_chambre,localisation,prix
0,"30. avr., 15:10",MARINA IMMO APPART,3 chambre150 m²,"Liberte 2, Dakar",85 000 F Cfa
1,"23. juin '22, 12:08",Appartement à louer aux Almadies,3 chambre200 m²,"Almadies, Dakar",500 000 F Cfa
2,"20. mai '22, 21:11",Appartement à vendre à Point-E,4 chambre,"Fann, Dakar",150 000 000 F Cfa
3,"14. mars '22, 10:26",Appartement f3 à Liberte 6,2 chambre100 m²,"Liberte 6, Dakar",408 000 F Cfa
4,"17. déc. '21, 10:51",Appartement à vendre aux Mamelles,3 chambre190 m²,"Ouakam, Dakar",110 000 000 F Cfa

In [138]:
# charge out data in a xlsx file
dt.to_excel('appartement.xlsx')